body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee !important;
}

.c-menu {
    width: 100%;
    height: 200px;
    left: 0;
    top: 100%;
}

.p-menu:hover>.c-menu {
    display: block !important;
}

ul {
    list-style-type: none !important;
    padding: 0 !important
}

.menu .nav li:hover {
    text-decoration: underline;
}

.serach-overlay {
    z-index: 1021
}

.page-item a {
    color: black !important
}

.pagination-wrap {
    text-align: center !important
}

.pagination-wrap nav {
    display: inline-block !important
}

.loading-wrap {
    align-items: center;
    background: #012;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    width: 100% !important;
    opacity: .9;
    display: flex
}

#lm {
    animation: rotation 1s linear 0s normal infinite none running;
    background-color: transparent;
    border-radius: 100%;
    box-shadow: 0 .5rem .12rem 0 inset #fff, 0 -.5rem 2rem -1rem #fff;
    height: 5rem;
    width: 5rem
}

@keyframes rotation {
    100% {
        transform: rotate(360deg)
    }
}

.footer .footer-menu li {
    padding-bottom: 5px !important
}

a {
    color: black !important;
    text-decoration: none !important
}

.footer .footer-menu a:hover {
    color: #fff !important
}

ul.flex {
    display: flex
}

.newslater {
    border-radius: 99em
}

.header .navbar a.navbar-brand {
    width: 20%
}

#headerCategories .header-sub-menu {
    width: 205px;
    right: 0;
    z-index: 99
}

#headerCategories .header-sub-menu li {
    color: #000 !important
}

#headerCategories .header-sub-menu li:hover>i {
    color: #dc3545
}

#headerCategories:hover>#categories-drop-down {
    display: block !important
}

.breadcrumb a {
    color: #002e5b !important
}

.breadcrumb .row {
    padding-left: 15px;
    padding-right: 15px
}

.alert a {
    color: #002e5b !important
}

.product-details-header .cart .number input,
a {
    width: 100%
}

.cartaria-width {
    width: 50% !important
}

.cartbtn-width {
    margin-right: 50% !important
}

.owl-carousel.cp .owl-nav.disabled {
    display: block !important;
}

.cart-view {
    position: fixed;
    bottom: 2%;
    right: 6%;
    box-sizing: border-box;
    z-index: 1021;
    transition: 1s
}

.cart-view hr {
    margin: 0 !important
}

.cart-view img {
    padding: 8px 0 8px 0
}

.testimonial img {
    border-radius: 50%;
    border: 5px solid gray;
    width: 30% !important;
    display: initial !important
}

.side-menu-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s
}

.side-menu-bar ul {
    padding-left: 20px !important;
    padding-right: 20px !important
}

.side-menu-bar ul li {
    padding-bottom: .25rem;
    padding-top: .25rem;
    color: wheat !important
}

.side-menu-bar .side-menu-closebtn {
    position: absolute;
    top: 9px;
    text-decoration: none;
    color: red !important;
    right: -80%;
    font-size: 45px
}

.footer-menu-list a {
    text-decoration: none
}

.cartbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: #36344d;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s
}

.cartbar a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 1s
}

.cartbar a.closebtn {
    padding: 8px 8px 8px 16px
}

.cartbar a:hover {
    color: #f1f1f1
}

.cartbar .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px
}

#main {
    transition: 1s;
    cursor: pointer
}

@media screen and (max-height:450px) {
    .cartbar {
        padding-top: 15px
    }

    .cartbar a {
        font-size: 18px
    }
}

#gotoTop {
    background-color: transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 2%;
    right: 1%;
    transition: background-color .3s, opacity .5s, visibility .5s;
    display: none;
    z-index: 1000
}

#gotoTop i {
    padding: 12px;
    font-size: 22px
}

#gotoTop:hover {
    cursor: pointer
}

.checkout-form form.main input {
    border-radius: 99em
}

.checkout-form form textarea {
    border-radius: .99em
}

.checkout-form tbody {
    border-bottom: 5px solid #fff
}

table {
    margin-bottom: 0 !important
}

.category-overlay {
    top: 0;
    background-color: #fff;
    width: 200px;
    height: 400px;
    z-index: 1;
    border-bottom: 1px solid #dc3545
}

.category-overlay ul a {
    text-decoration: none;
    font-weight: 600
}

.category-overlay ul li:hover {
    background-color: #89c74a;
    color: #fff
}

.category-overlay ul li:hover i {
    color: #fff !important
}

.category-overlay ul li {
    padding-bottom: .6rem;
    padding-top: .6rem;
    padding-left: 20px
}

.header .search-form {
    width: 60%
}

.promo .promo-img {
    position: absolute;
    width: 55%;
    top: -45px
}

.title {
    font-weight: 600
}

.promo .img1,
.promo .title {
    border-right: 2px solid wheat
}

.promo .daily-offer {
    animation: color 5s infinite
}

@keyframes color {
    0% {
        background-color: #4e73df
    }

    25% {
        background-color: #1cc88a
    }

    50% {
        background-color: #f6c23e
    }

    75% {
        background-color: #e74a3b
    }

    100% {
        background-color: #858796
    }
}

.product-img-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
}

.back-home {
    color: #002e5b !important
}

.name-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.wrap.hover:hover {
    border: 2px solid #89c74a
}

.wrap.product a:first-child {
    color: #000 !important
}

.banner {
    border-top-left-radius: .99rem !important;
    border-top-right-radius: .99rem !important
}

.wrap.product {
    padding-bottom: 15px;
    border: .05rem solid #dfdada;
    border-radius: .99rem !important
}

.product-offer-badge {
    top: 1%;
    left: 10%
}

.number span {
    cursor: pointer
}

.number {
    display: flex
}

.minus,
.plus {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    padding: 5px;
    vertical-align: middle;
    text-align: center
}

.number input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #dc3545;
    border-radius: 4px;
    vertical-align: middle
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.star {
    color: orange
}

.stars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end
}

.stars__star-icon {
    stroke: #343a40;
    stroke-width: 2px;
    fill: transparent;
    transition: .1s all
}

.stars__star {
    width: 34px;
    height: 34px;
    position: relative;
    cursor: pointer;
    margin: 10px
}

.stars__checkbox {
    opacity: 0;
    width: 0;
    height: 0
}

.stars__star:hover>.stars__star-icon {
    fill: #343a40
}

.stars__star:hover~.stars__star>.stars__star-icon {
    fill: #343a40
}

.stars__checkbox:checked+.stars__star>.stars__star-icon {
    fill: #343a40
}

.stars__checkbox:checked~.stars__star>.stars__star-icon {
    fill: #343a40
}

@media only screen and (max-width:768px) {
    .cartaria-width {
        width: 70% !important
    }

    .cartbtn-width {
        margin-right: 70% !important
    }

    .name.pd {
        padding-top: 20px !important
    }

    .cart-view {
        background: 0 0
    }

    #main {
        padding: 0
    }
}

@media only screen and (max-width:425px) {
    .cartaria-width {
        width: 100% !important
    }

    .cartbtn-width {
        margin-right: 100% !important
    }

    .testimonial img {
        width: 30% !important
    }

    .nav-bottom {
        background-color: #89c74a !important
    }

    .nav-bottom i {
        color: #002e5b !important
    }

    .nav-bottom span {
        color: #000 !important
    }

    .top-header-list {
        justify-content: center !important
    }

    .category-overlay {
        display: none
    }

    .social {
        display: none
    }

    .promo .promo-img {
        position: absolute;
        width: 67%;
        top: 10px
    }

    .carousel-item img {
        height: auto !important
    }

    .logo {
        text-align: center;
        padding-top: 1rem
    }

    .logo img {
        width: 50%;
        border: none !important;
        box-shadow: none !important
    }
}
